*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #123242;
  
}

.container{

    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#card{
    height: 300px;
    width: 200px;
    background-color:#808080 ;
    border: #124232 solid 2px;
    border-radius: 10px;
    padding: 15px;

   
}

#card img{

   height: 60%;
   width: 100%;
   object-fit: cover;
   object-position:center;
   border: #124232 solid 1px;
   border-radius: 5px;

}

#card h2{
    display: flex;
    justify-content: center;
}

#card button{
    height: 25px;
    width: 100px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 40px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    
}

#card button:hover{

    background-color: aqua;
    color: black;
}